body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 800px;
    background-color: rgb(235, 105, 30);
    margin: 40px 80px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    align-self: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(243, 237, 239);
    margin-top: -40px;
}

form input {
    padding: 30px;
    margin: 0px 30px;
    text-align: center;
    font-size: 50px;
}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
}

form button {
    padding: 10px;
    align-self: center;
    width: 150px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    display: inline-block;
}

form button:hover {
    background-color: black;
    cursor: pointer;
}

form .text-salario {
    margin-top: 40px;
    margin-bottom: 20px;
}